body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
  
  .Header {
    position: relative;
    background-image: url('../img/bg-masthead.jpg');
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  
  .Header h1 {
    font-size: 2rem;
  }
  
  @media (min-width: 768px) {
    .Header {
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
    .Header h1 {
      font-size: 3rem;
    }
  }
  
  Feature__Item__Icon i {
    font-size: 4.5rem;
  }
  
  .Feature__Item:hover Feature__Item__Icon i {
    font-size: 5rem;
  }
  
  .Showcase__Image {
    min-height: 30rem;
    background-size: cover;
  }
  
  .People {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .People__Item {
    max-width: 18rem;
  }
  
  .People__Item img {
    max-width: 12rem;
    -webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
    box-shadow: 0px 5px 5px 0px #adb5bd;
  }
  
  .Call-To-Action {
    position: relative;
    background-color: #343a40;
    background: url('../img/bg-masthead.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .Call-To-Action .Overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  
  .Footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }